In [1]:
import pandas as pd
import networkx as nx

# Load datasets

In [2]:
sc_new = pd.read_csv('/disk/10tb/home/shmelev/tmp_data/scandinavia_graph_07112025.csv')
vu_new = pd.read_csv('/disk/10tb/home/shmelev/tmp_data/Volga_pop_graph_no_komi.csv')
we_new = pd.read_csv('/disk/10tb/home/shmelev/tmp_data/western_europe_graph.csv')
nc_new = pd.read_csv('/disk/10tb/home/shmelev/tmp_data/north_caucasus_graph.csv')

sc_old = pd.read_csv('/disk/10tb/home/shmelev/genlink_real_data/Scandinavia.csv')
vu_old = pd.read_csv('/disk/10tb/home/shmelev/genlink_real_data/Volga.csv')
we_old = pd.read_csv('/disk/10tb/home/shmelev/genlink_real_data/Western-Europe.csv')
nc_old = pd.read_csv('/disk/10tb/home/shmelev/genlink_real_data/NC_graph_rel_eng.csv')

In [3]:
assert sc_new.shape[0] == sc_old.shape[0]
assert vu_new.shape[0] == vu_old.shape[0]
assert we_new.shape[0] == we_old.shape[0]
assert nc_new.shape[0] == nc_old.shape[0]

In [10]:
sc_new.head()

,node_id1,node_id2,label_id1,label_id2,ibd_sum,ibd_n
0,BAMSE_AB16589987,BAMSE_AB16590070,Swedes,Swedes,18.25960,1
1,BAMSE_AB16589987,BAMSE_AB16590250,Swedes,Swedes,8.35242,1
2,BAMSE_AB16589987,BAMSE_AB16590652,Swedes,Swedes,9.57823,1
3,BAMSE_AB16589987,WTCCCT451041_95309-G04,Swedes,Swedes,11.78040,1
4,BAMSE_AB16589987,WTCCCT451048_95309-B01,Swedes,Swedes,11.22940,1

In [11]:
sc_old.head()

    node_id1   node_id2 label_id1 label_id2   ibd_sum  ibd_n   ibd_max
0  node_1799  node_1821    Swedes    Swedes  18.25960      1  18.25960
1  node_1799  node_1841    Swedes    Swedes   8.35242      1   8.35242
2  node_1799  node_1867    Swedes    Swedes   9.57823      1   9.57823
3  node_1799  node_8828    Swedes    Swedes  11.78040      1  11.78040
4  node_1799  node_8832    Swedes    Swedes  11.22940      1  11.22940

In [12]:
vu_new.head()

,node_id1,node_id2,label_id1,label_id2,ibd_sum,ibd_n
0,4459273139-R01C02_4459273139-R01C02,4459273139-R02C01_4459273139-R02C01,"Udmurts,Besermyan","Udmurts,Besermyan",44.2283,5
1,4459273139-R01C02_4459273139-R01C02,4459273152-R01C01_4459273152-R01C01,"Udmurts,Besermyan","Udmurts,Besermyan",32.0988,4
2,4459273139-R01C02_4459273139-R01C02,4459273152-R01C02_4459273152-R01C02,"Udmurts,Besermyan","Udmurts,Besermyan",51.9102,6
3,4459273139-R01C02_4459273139-R01C02,4459273152-R02C01_4459273152-R02C01,"Udmurts,Besermyan","Udmurts,Besermyan",35.4457,3
4,4459273139-R01C02_4459273139-R01C02,4459273152-R02C02_4459273152-R02C02,"Udmurts,Besermyan","Udmurts,Besermyan",24.0306,2

In [13]:
vu_old.head()

,node_id1,node_id2,label_id1,label_id2,ibd_sum,ibd_n,ibd_max
0,node_158,node_159,"Udmurts,Besermyan","Udmurts,Besermyan",44.2283,5,11.8118
1,node_158,node_160,"Udmurts,Besermyan","Udmurts,Besermyan",32.0988,4,11.4264
2,node_158,node_161,"Udmurts,Besermyan","Udmurts,Besermyan",51.9102,6,10.4811
3,node_158,node_162,"Udmurts,Besermyan","Udmurts,Besermyan",35.4457,3,13.1516
4,node_158,node_163,"Udmurts,Besermyan","Udmurts,Besermyan",24.0306,2,16.0809

In [4]:
we_new.head()

,node_id1,node_id2,label_id1,label_id2,ibd_sum,ibd_n
0,ASTHMA-SEVERE_MFC104,ASTHMA-SEVERE_SFC22,English,English,10.65130,1
1,ASTHMA-SEVERE_MFC104,ASTHMA-SEVERE_SFC35,English,English,8.51599,1
2,ASTHMA-SEVERE_MFC104,ASTHMA-SEVERE_SL147,English,English,11.50810,1
3,ASTHMA-SEVERE_MFC104,AUGOSA_5064,English,English,14.50930,1
4,ASTHMA-SEVERE_MFC104,B58-STRACHAN_B58C18798J,English,English,9.06940,1

In [5]:
we_old.head()

   node_id1   node_id2 label_id1 label_id2   ibd_sum  ibd_n   ibd_max
0  node_764   node_840   English   English  10.65130      1  10.65130
1  node_764   node_849   English   English   8.51599      1   8.51599
2  node_764   node_884   English   English  11.50810      1  11.50810
3  node_764  node_1136   English   English  14.50930      1  14.50930
4  node_764  node_1515   English   English   9.06940      1   9.06940

In [4]:
nc_new.head()

,node_id1,node_id2,label_id1,label_id2,ibd_sum,ibd_n
0,4461875070-R01C01_4461875070-R01C01,4461875070-R02C02_4461875070-R02C02,Chechens,Chechens,9.76537,1
1,4461875070-R01C01_4461875070-R01C01,4461875219-R02C02_4461875219-R02C02,Chechens,Chechens,26.49970,3
2,4461875070-R01C01_4461875070-R01C01,4461875231-R01C02_4461875231-R01C02,Chechens,Chechens,8.31678,1
3,4461875070-R01C01_4461875070-R01C01,vs6150,Chechens,Chechens,8.64458,1
4,4461875070-R02C02_4461875070-R02C02,4461875203-R01C01_4461875203-R01C01,Chechens,Chechens,8.14209,1

In [5]:
nc_old.head()

  node_id1  node_id2 label_id1 label_id2   ibd_sum  ibd_n
0   node_0    node_1  Chechens  Chechens   9.76537      1
1   node_0   node_13  Chechens  Chechens  26.49970      3
2   node_0   node_15  Chechens  Chechens   8.31678      1
3   node_0  node_594  Chechens  Chechens   8.64458      1
4   node_1    node_8  Chechens  Chechens   8.14209      1

# Edge weight check

In [6]:
assert sc_new['ibd_sum'].sum() == sc_old['ibd_sum'].sum()
assert vu_new['ibd_sum'].sum() == vu_old['ibd_sum'].sum()
assert we_new['ibd_sum'].sum() == we_old['ibd_sum'].sum()
assert nc_new['ibd_sum'].sum() == nc_old['ibd_sum'].sum()

# Isimorphism check

In [7]:
G_sc_new = nx.from_pandas_edgelist(sc_new, source='node_id1', target='node_id2', edge_attr=['ibd_sum'], create_using=nx.Graph())
G_sc_old = nx.from_pandas_edgelist(sc_old, source='node_id1', target='node_id2', edge_attr=['ibd_sum'], create_using=nx.Graph())

G_vu_new = nx.from_pandas_edgelist(vu_new, source='node_id1', target='node_id2', edge_attr=['ibd_sum'], create_using=nx.Graph())
G_vu_old = nx.from_pandas_edgelist(vu_old, source='node_id1', target='node_id2', edge_attr=['ibd_sum'], create_using=nx.Graph())

G_we_new = nx.from_pandas_edgelist(we_new, source='node_id1', target='node_id2', edge_attr=['ibd_sum'], create_using=nx.Graph())
G_we_old = nx.from_pandas_edgelist(we_old, source='node_id1', target='node_id2', edge_attr=['ibd_sum'], create_using=nx.Graph())

G_nc_new = nx.from_pandas_edgelist(nc_new, source='node_id1', target='node_id2', edge_attr=['ibd_sum'], create_using=nx.Graph())
G_nc_old = nx.from_pandas_edgelist(nc_old, source='node_id1', target='node_id2', edge_attr=['ibd_sum'], create_using=nx.Graph())

In [8]:
assert nx.vf2pp_is_isomorphic(G_sc_new, G_sc_old, node_label=None)
assert nx.vf2pp_is_isomorphic(G_vu_new, G_vu_old, node_label=None)
assert nx.vf2pp_is_isomorphic(G_we_new, G_we_old, node_label=None)
assert nx.vf2pp_is_isomorphic(G_nc_new, G_nc_old, node_label=None)

# Analyze publications

In [1]:
import pandas as pd

In [2]:
df = pd.read_csv('/disk/10tb/home/shmelev/tmp_data/datasets_publications/Volga_publications_no_komi.csv')
df

,sample_id,label,dataset,publication,pmid,year,publication_link,people_count
0,4459273139-R01C02_4459273139-R01C02,"Udmurts,Besermyan",russian_genome,Between Lake Baikal and the Baltic Sea: genomi...,29297395.0,2017.0,http://www.russiangenome.ru/,22
1,4459273139-R02C01_4459273139-R02C01,"Udmurts,Besermyan",russian_genome,Between Lake Baikal and the Baltic Sea: genomi...,29297395.0,2017.0,http://www.russiangenome.ru/,22
2,4459273152-R01C01_4459273152-R01C01,"Udmurts,Besermyan",russian_genome,Between Lake Baikal and the Baltic Sea: genomi...,29297395.0,2017.0,http://www.russiangenome.ru/,22
3,4459273152-R01C02_4459273152-R01C02,"Udmurts,Besermyan",russian_genome,Between Lake Baikal and the Baltic Sea: genomi...,29297395.0,2017.0,http://www.russiangenome.ru/,22
4,4459273152-R02C01_4459273152-R02C01,"Udmurts,Besermyan",russian_genome,Between Lake Baikal and the Baltic Sea: genomi...,29297395.0,2017.0,http://www.russiangenome.ru/,22
...,...,...,...,...,...,...,...,...
1637,zw0282,"Tatars,Volga-Tatars,Mishar-Tatars,Kryashens",NaN,NaN,NaN,NaN,NaN,0
1638,zx0257,"Tatars,Volga-Tatars,Mishar-Tatars,Kryashens",NaN,NaN,NaN,NaN,NaN,0
1639,zx3376,"Tatars,Volga-Tatars,Mishar-Tatars,Kryashens",NaN,NaN,NaN,NaN,NaN,0
1640,zz3309,Chuvash,NaN,NaN,NaN,NaN,NaN,0
1641,zz8092,"Tatars,Volga-Tatars,Mishar-Tatars,Kryashens",NaN,NaN,NaN,NaN,NaN,0

In [3]:
df['publication'].unique()

array(['Between Lake Baikal and the Baltic Sea: genomic history of the gateway to Europe',
       'Ancient human genomes suggest three ancestralpopulations for present-day Europeans',
       'A large-scale, consortium-based genomewide association study of asthma',
       'schizophrenia',
       'The genetic history of admixture across inner Eurasia',
       'Genes reveal traces of common recent demographic history for most of the Uralic-speaking populations',
       nan,
       'The Genetic Legacy of the Expansion of Turkic-Speaking Nomads across Eurasia',
       'Upper Palaeolithic Siberian genome reveals dual ancestry of Native Americans'],
      dtype=object)

In [4]:
df = pd.read_csv('/disk/10tb/home/shmelev/tmp_data/datasets_publications/scandinavia_publications_07112025.csv')
df

,sample_id,label,dataset,publication,pmid,year,publication_link,people_count
0,BAMSE_AB16589987,Swedes,gabriel_600,"A large-scale, consortium-based genomewide ass...",20860503,2010,NaN,108
1,BAMSE_AB16589991,Swedes,gabriel_600,"A large-scale, consortium-based genomewide ass...",20860503,2010,NaN,108
2,BAMSE_AB16589999,Swedes,gabriel_600,"A large-scale, consortium-based genomewide ass...",20860503,2010,NaN,108
3,BAMSE_AB16590010,Swedes,gabriel_600,"A large-scale, consortium-based genomewide ass...",20860503,2010,NaN,108
4,BAMSE_AB16590013,Swedes,gabriel_600,"A large-scale, consortium-based genomewide ass...",20860503,2010,NaN,108
...,...,...,...,...,...,...,...,...
1081,WTCCCT498981_89517-F11,Swedes,wtccc2,Genetic risk and a primary role for cell-media...,21833088,2011,NaN,268
1082,WTCCCT498985_89527-C01,Swedes,wtccc2,Genetic risk and a primary role for cell-media...,21833088,2011,NaN,268
1083,WTCCCT498987_89527-F01,Swedes,wtccc2,Genetic risk and a primary role for cell-media...,21833088,2011,NaN,268
1084,WTCCCT498989_98499-F12,Swedes,wtccc2,Genetic risk and a primary role for cell-media...,21833088,2011,NaN,268
1085,WTCCCT498993_89527-G02,Swedes,wtccc2,Genetic risk and a primary role for cell-media...,21833088,2011,NaN,268

In [5]:
df['publication'].unique()

array(['A large-scale, consortium-based genomewide association study of asthma',
       'Ancient human genomes suggest three ancestralpopulations for present-day Europeans',
       'No evidence from genome-wide data of a Khazar origin for the Ashkenazi Jews',
       'Genetic risk and a primary role for cell-mediated immune mechanisms in multiple sclerosis'],
      dtype=object)

In [6]:
df = pd.read_csv('/disk/10tb/home/shmelev/tmp_data/datasets_publications/north_caucasus_publications.csv')
df

,sample_id,label,dataset,publication,pmid,year,publication_link,people_count
0,4461875070-R01C01_4461875070-R01C01,Chechens,russian_genome,Between Lake Baikal and the Baltic Sea: genomi...,29297395.0,2017.0,http://www.russiangenome.ru/,16
1,4461875070-R02C02_4461875070-R02C02,Chechens,russian_genome,Between Lake Baikal and the Baltic Sea: genomi...,29297395.0,2017.0,http://www.russiangenome.ru/,16
2,4461875071-R02C02_4461875071-R02C02,Chechens,russian_genome,Between Lake Baikal and the Baltic Sea: genomi...,29297395.0,2017.0,http://www.russiangenome.ru/,16
3,4461875089-R01C01_4461875089-R01C01,Chechens,russian_genome,Between Lake Baikal and the Baltic Sea: genomi...,29297395.0,2017.0,http://www.russiangenome.ru/,16
4,4461875089-R01C02_4461875089-R01C02,Chechens,russian_genome,Between Lake Baikal and the Baltic Sea: genomi...,29297395.0,2017.0,http://www.russiangenome.ru/,16
...,...,...,...,...,...,...,...,...
609,zl8881,"Karachays,Balkars",NaN,NaN,NaN,NaN,NaN,0
610,zm0846,Chechens,NaN,NaN,NaN,NaN,NaN,0
611,zp3557,Ossetians,NaN,NaN,NaN,NaN,NaN,0
612,zv8666,Ossetians,NaN,NaN,NaN,NaN,NaN,0
613,zy6774,Chechens,NaN,NaN,NaN,NaN,NaN,0

In [7]:
df['publication'].unique()

array(['Between Lake Baikal and the Baltic Sea: genomic history of the gateway to Europe',
       'The genetic history of admixture across inner Eurasia',
       'A human genome diversity cell line panel',
       'The Caucasus as an Asymmetric Semipermeable Barrier to Ancient Human Migrations',
       'Ancient human genomes suggest three ancestralpopulations for present-day Europeans',
       nan,
       'The Genetic Legacy of the Expansion of Turkic-Speaking Nomads across Eurasia',
       'The genome-wide structure of the Jewish people',
       'No evidence from genome-wide data of a Khazar origin for the Ashkenazi Jews'],
      dtype=object)

In [8]:
df = pd.read_csv('/disk/10tb/home/shmelev/tmp_data/datasets_publications/western_europe_publications.csv')
df

,sample_id,label,dataset,publication,pmid,year,publication_link,people_count
0,ASTHMA-SEVERE_MFC104,English,gabriel_600,"A large-scale, consortium-based genomewide ass...",20860503,2010,NaN,1092
1,ASTHMA-SEVERE_MFC125,English,gabriel_600,"A large-scale, consortium-based genomewide ass...",20860503,2010,NaN,1092
2,ASTHMA-SEVERE_MFC126,English,gabriel_600,"A large-scale, consortium-based genomewide ass...",20860503,2010,NaN,1092
3,ASTHMA-SEVERE_MFC13,English,gabriel_600,"A large-scale, consortium-based genomewide ass...",20860503,2010,NaN,1092
4,ASTHMA-SEVERE_MFC131,English,gabriel_600,"A large-scale, consortium-based genomewide ass...",20860503,2010,NaN,1092
...,...,...,...,...,...,...,...,...
3852,WTCCCT520071_95281-B09,Belgium,wtccc2,Genetic risk and a primary role for cell-media...,21833088,2011,NaN,347
3853,WTCCCT520076_95281-C12,Belgium,wtccc2,Genetic risk and a primary role for cell-media...,21833088,2011,NaN,347
3854,WTCCCT520079_95281-A07,Belgium,wtccc2,Genetic risk and a primary role for cell-media...,21833088,2011,NaN,347
3855,WTCCCT520080_95281-E07,Belgium,wtccc2,Genetic risk and a primary role for cell-media...,21833088,2011,NaN,347
3856,WTCCCT520081_95281-B08,Belgium,wtccc2,Genetic risk and a primary role for cell-media...,21833088,2011,NaN,347

In [9]:
df['publication'].unique()

array(['A large-scale, consortium-based genomewide association study of asthma',
       'Genetic risk and a primary role for cell-mediated immune mechanisms in multiple sclerosis',
       'A global reference for human genetic variation',
       'A human genome diversity cell line panel'], dtype=object)